# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
def moving_avg(L,k):
    n=len(L)
    
    result=[round(sum(L[i:i+k])/k,2) for i in range(n-k+1)]
    
    print("\nInput List:",L)
    print("Window=",k)
    
    for x in range(len(result)):
        
        print(f' res{x+1} : (',end='')
        print("+".join([str(item) for item in L[x:x+k]]),end='')
        print(f')/{k} = {result[x]}')
        
list1= [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
list2=[10,20,30,40,50,60,70,80,90,100]
moving_avg(list2,4)

moving_avg(list1,3)

Input List: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Window= 4
 res1 : (10+20+30+40)/4 = 25.0
 res2 : (20+30+40+50)/4 = 35.0
 res3 : (30+40+50+60)/4 = 45.0
 res4 : (40+50+60+70)/4 = 55.0
 res5 : (50+60+70+80)/4 = 65.0
 res6 : (60+70+80+90)/4 = 75.0
 res7 : (70+80+90+100)/4 = 85.0

Input List: [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
Window= 3
 res1 : (3+5+7)/3 = 5.0
 res2 : (5+7+2)/3 = 4.67
 res3 : (7+2+8)/3 = 5.67
 res4 : (2+8+10)/3 = 6.67
 res5 : (8+10+11)/3 = 9.67
 res6 : (10+11+65)/3 = 28.67
 res7 : (11+65+72)/3 = 49.33
 res8 : (65+72+81)/3 = 72.67
 res9 : (72+81+99)/3 = 84.0
 res10 : (81+99+100)/3 = 93.33
 res11 : (99+100+150)/3 = 116.33

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
df=pd.DataFrame({'X': [7,2,0,3,4,2,5,0,3,4]})

def Dist_to_prev_zero(L):
    list1=[]
    for i in range(len(L)):
        for x in range(i,-1,-1):
            if (L[x]==0):
                list1.append(i-x) #distance from previous zero
                break
            elif(x==0):
                list1.append(i-x) #distance from start of series
                break
                
    return(list1)

df['Y']=Dist_to_prev_zero(list(df['X']))
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [3]:
import pandas as pd
import numpy as np

rng =pd.bdate_range('2015-01-01','2015-12-31',freq='B')

dates =pd.Series(np.random.randn(len(rng)),index=rng)

print(dates)

2015-01-01   -0.438895
2015-01-02   -0.829976
2015-01-05    0.154695
2015-01-06    0.320750
2015-01-07    0.099399
                ...
2015-12-25    0.368566
2015-12-28   -1.204181
2015-12-29   -1.100755
2015-12-30    0.113689
2015-12-31    0.216494
Freq: B, Length: 261, dtype: float64

In [4]:
dates.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')